@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

/* body{
    font-family: 'Roboto', sans-serif;
} */

/* @keyframes logoAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-logo {
    animation: logoAnimation 3s ease-in-out;
  }
   */

  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animated-banner {
    animation: moveUpDown 2.5s infinite; /* Sesuaikan durasi animasi sesuai kebutuhan */
  }
  
.title{
  @apply text-3xl font-semibold capitalize text-center my-8
}

.btnProduct{
  @apply hover:bg-blue-500 hover:text-white p-1 rounded-md
}

.btnPrimary{
  @apply inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-500 hover:bg-blue-600  focus:ring-offset-2 focus:ring-blue-500 gap-2
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

