@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

body {
  --sb-track-color: #dcdcdc;
  --sb-thumb-color: #0098ff;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 13px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 13px;
  border: 1px solid #efefef;
}

.title {
  @apply text-3xl font-semibold capitalize text-center my-8;
}

.btnProduct {
  @apply hover:bg-blue-500 hover:text-white p-1 rounded-md;
}

.btnPrimary {
  @apply inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-500 hover:bg-blue-600  focus:ring-offset-2 focus:ring-blue-500 gap-2;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
